@font-face {
  font-family: sec;
  src: url(../fonts/Secular_One/SecularOne-Regular.ttf);
}

@font-face {
  font-family: rubikB;
  src: url(../fonts/Rubik/Rubik-Bold.ttf);
}

@font-face {
  font-family: rubik;
  src: url(../fonts/Rubik/Rubik-Regular.ttf);
}

@font-face {
  font-family: nunitoBI;
  src: url(../fonts/Nunito/Nunito-BlackItalic.ttf);
}

@font-face {
  font-family: nunitoSB;
  src: url(../fonts/Nunito/Nunito-SemiBold.ttf);
}
@font-face {
  font-family: nunito;
  src: url(../fonts/Nunito/Nunito-Regular.ttf);
}
#titulo {
  font-family: sec;
  font-size: 25px;
}
a#titulo:hover{
  outline: auto;
  background-color: #a68b39;

}

.selec{
  outline: auto;
  background-color: #a68b39;
}

#header {
  background-image: url(../images/barra3.png);
  background-size: contain;
  height: 80px;
}

footer{
  /*background-image: url(../images/barra3.png);*/
  background-color:#DC3545;
  background-size: contain;
  margin-top: auto;
  width: 100%;
}

body{
  /*background-image: url(../images/fondo3.jpg);*/
  /*background-size: contain;*/
  
  font-family: rubik;
  /*background-repeat: repeat;*/
  height: 300px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#image {
  background-image: url(../images/reloj.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 410px;
  align-items: flex-end;

}

#texto1 {
  color: white;
  background-size: 500px 600px;
  font-family: sec;
  font-style: italic;
  font-size: 70px;
  width: 670px;
}

#image2 {
  background-image: url(../images/patron16.jpg);
  background-size: contain;
  height: 40px;
  position: relative;
}

p{
  text-align: justify;
  font-family: rubik;
}

#h2 {
  border-radius: 20px;
  border: solid 7px #a63889df;
  background-color: #cd6ab2;
  color: azure;
  font-family: nunitoBI;
}





#cardHotel {
  background-color: #fae46b;
  border-radius: 10px 15%;
  border: groove 10px #a68b39;
}

#detHotel {
  background-color: #fae46b;
  border-radius: 10px;
  border: groove 10px #a68b39;
}


#cardHabitacion {
  background-color: #f48e8e;
  border-radius: 10px 15%;
  border: groove 10px #f82c2c;
}

#detGerente {
  background-color: #fea963;
  border-radius: 10px;
  border: groove 10px #dc5931;
}

#text {
  font-family: nunito;
}

#text2 {
  font-family: rubik;
}

#barra{
  background-image: url(../images/patron7.jpg);
  background-size: contain;
  width: 92%;
  height: 10px;
  position: relative;
}

.carousel-control-prev{
  background-color: #efe2e2;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 45%;
  margin-left: 5%;
  border: solid 2px rgb(0, 0, 0);
  
}

.carousel-control-next{
  background-color: #efe2e2;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 45%;
  margin-right: 5%;
  border: solid 2px rgb(0, 0, 0);
  
}

#info{
  background-color: white;
}
#des{
  border-radius: 10px;
  border: solid 4px rgb(204, 44, 44);
  background-color: #f3c9c8;
  /*border: groove 10px #ba8b27;*/
}

/*button#v-pills-description-tab{
  background-color:#EEB4B3;
}*/

.boton{
  background-color:  #f4cecd;
  outline: none;
}


#feria{
  background-color: #faf09a;
  border: solid 4px #FF9F1C;
  border-radius: 10px;

}

#des1{
  border-radius: 10px;
  border: solid 3px rgb(204, 44, 44);
  padding: 10px;
}

#feria1{
  border-radius: 10px;
  border: solid 3px #FF9F1C;
  padding: 10px;
  margin: 0%;
}

#atrac1{
  border: solid 4px #a63889df;
  background-color: #f4c5e7;
  border-radius: 8px;
}
#ba1{
  border: solid 3px #a63889df;
  border-radius: 5px;
}

#atrac2{
  border: solid 4px #38a67adf;
  background-color: #c6f8e4df;
  border-radius: 8px;
}

#ba2{
  border: solid 3px #38a67adf;
  border-radius: 5px;
}

#atrac3{
  border: solid 4px #387ca6df;
  background-color: #bbe4fddf;
  border-radius: 8px;
}

#ba3{
  border: solid 3px #387ca6df;
  border-radius: 5px;
}

#atrac4{
  border: solid 4px #cf487edf;
  background-color: #ffc2dadf;
  border-radius: 8px;
}

#ba4{
  border: solid 3px #cf487edf;
  border-radius: 5px;
}

#atrac5{
  border: solid 4px #8ed735df;
  background-color: #cdf39fdf;
  border-radius: 8px;
}

#ba5{
  border: solid 3px #8ed735df;
  border-radius: 5px;
}

#res1{
  border: solid 4px #ff8a3c;
  background-color: #ffc097;
  border-radius: 8px;
}

#br1{
  border: solid 3px #ff8a3c;
  border-radius: 5px;
}

#res2{
  border: solid 4px #25c3d4;
  background-color: #b0ebf1;
  border-radius: 8px;
}

#br2{
  border: solid 3px #25c3d4;
  border-radius: 5px;
}

#res3{
  border: solid 4px #9125d4;
  background-color: #f1bbf9;
  border-radius: 8px;
}

#br3{
  border: solid 3px#9125d4;
  border-radius: 5px;
}

#res4{
  border: solid 4px #25d445;
  background-color: #ccf3d3;
  border-radius: 8px;
}

#br4{
  border: solid 3px  #25d445;
  border-radius: 5px;
}

#hoteles{
  margin: 0px;
  padding-top:5px ;
  padding-bottom: 5px;
  border: solid 4px #2537d4;
  background-color: #c9cdef;
  border-radius: 8px;
}

#bh{
  border: solid 3px #2537d4;
  background-color: #c9cdef;
  border-radius: 8px;
}

#ubicacion{
  margin: 0px;
  padding-top:5px ;
  padding-bottom: 5px;
  border: solid 4px #6e636c;
  background-color: #cccccc;
  border-radius: 8px;
}

#bu{
  border: solid 3px #6e636c;
  background-color: #dbdbdb;
  border-radius: 5px;
}

#tablaHotel{
  border: solid 3px #4453da;
  background-color: #cdd2ff;
}

#tablaHab{
  border: solid 3px #6e3e6e;
  background-color: #e9c5e9;
}

#tablaImg{
  border: solid 3px #2c2b29;
  background-color: #7b7a77;
}

#borderIni{
  border: groove 15px #a04545;
}

#alturaHotel{
  height: 45vh;
  
}

#alturaHab{
  height: 30vh;
  
}
.desactivar{
  pointer-events: none;
  cursor: default;
}