extends ./layout/index.pug
block compartircontenido
    main.container-fluid
    .row.d-flex.container-fluid.p-0.m-0
        .container.img-fluid.d-flex#image
            h1.container-fluid.d-flex#texto1 ZACATLÁN, PUEBLA
        
        .container-fluid.p-0#image2
        .container-fluid.ps-5.pe-3.pt-3
            h3.text-center.mt-3.mb-3.p-2.m-4#h1 Un lugar mágico...
            .container-fluid.d-flex
                .card.text-white.mb-3.d-flex.ms-4#card1(style='max-width: 20rem;')
                    h4.card-header.text-center Descripción
                    .card-body
                        p.text-justify.fw-nunito#text Zacatlán es un Municipio ubicado al borde de la Barranca de los Jilgueros en el estado de Puebla, México. Este municipio se carecteriza por tener un clima frío acompañado de neblina. En este bonito municipio se tienen las costumbres de hornear pan todos los días, fabricar relojes monumentales y cultivar frutas. Este municipio es uno de los principales productores de manzanas del país; esta fruta tiene tanta relevancia en Zacatlán, que anualmente se lleva a cabo la feria de la manzana.
                .container-fluid.d-flex.ms-5.pe-5
                    #carouselExampleControls.carousel.slide(data-bs-ride='carousel')
                        .carousel-inner#bi1
                            .carousel-item.active
                                img.d-block(src='/images/image (1).jpeg',alt='', width='700', height='430')
                            .carousel-item
                                img.d-block(src='/images/image (2).jpeg',alt='',width='700', height='430')
                            .carousel-item
                                img.d-block(src='/images/zac3.jpg',alt='', width='700', height='430')
                            .carousel-item
                                img.d-block(src='/images/zac1.jpg',alt='', width='700', height='430')
                            .carousel-item
                                img.d-block(src='/images/zac2.jpeg',alt='', width='700', height='430')
                        button.carousel-control-prev(type='button', data-bs-target='#carouselExampleControls', data-bs-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.visually-hidden Previous
                        button.carousel-control-next(type='button', data-bs-target='#carouselExampleControls', data-bs-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.visually-hidden Next
                   
        .container-fluid.ps-5.pe-5
            h3.text-center.mt-3.mb-3.p-2.m-4#h2 La celebración mas importante
            .container.d-flex
                .container-fluid.d-flex.ms-2.pe-5
                    #carouselExampleControls1.carousel.slide(data-bs-ride='carousel')
                        .carousel-inner#bi2
                            .carousel-item.active
                                img.d-block(src='/images/f1.jpg',alt='', width='700', height='400')
                            .carousel-item
                                img.d-block(src='/images/f2.jpg',alt='',width='700', height='400')
                            .carousel-item
                                img.d-block(src='/images/f3.jpg',alt='', width='700', height='400')
                            .carousel-item
                                img.d-block(src='/images/f4.jpg',alt='', width='700', height='400')
                        button.carousel-control-prev(type='button', data-bs-target='#carouselExampleControls1', data-bs-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.visually-hidden Previous
                        button.carousel-control-next(type='button', data-bs-target='#carouselExampleControls1', data-bs-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.visually-hidden Next
                .card.text-white.mb-3.d-flex.me-3#card2(style='max-width: 20rem;')
                    h4.card-header.text-center Feria de la Manzana
                    .card-body
                        p.text-justify.fw-nunito#text Celebrada desde 1941, con la finalidad de dar relevancia a los productos naturales de la localidad. Esta feria es el evento mas importante de Zacatlán. La celebración inicia el 15 de agosto con la bendición de la manzana en una misa en honor a la virgen de la Asunción, patrona de los fritucultores. Durante está celebración hay conciertos, bailes, juegos mécanicos. Actividades como rutas en bicicleta de montaña, exhibición de artesanías y desfile de carros alegóricos.
        
        .container-fluid.d-flex.p-3
            .container-fluid
                .card.mb-3.me-5.ms-5#card3
                    h3.card-header.text-center Atracciones de Zacatlán
                    .card-body
                        .container-fluid.d-flex
                            #carouselExampleControls3.carousel.slide(data-bs-ride='carousel')
                                .carousel-inner
                                    .carousel-item.active
                                        img.d-block(src='/images/museo.jpg',alt='', width='450', height='250')
                                    .carousel-item
                                        img.d-block(src='/images/museo2.jpg',alt='',width='450', height='250')
                                    .carousel-item
                                        img.d-block(src='/images/plaza.jpg',alt='',width='450', height='250')
                                    .carousel-item
                                        img.d-block(src='/images/automatas.jpg',alt='', width='450', height='250')
                                    .carousel-item
                                        img.d-block(src='/images/image (3).jpeg',alt='', width='450', height='250')
                                button.carousel-control-prev(type='button', data-bs-target='#carouselExampleControls3', data-bs-slide='prev')
                                    span.carousel-control-prev-icon(aria-hidden='true')
                                    span.visually-hidden Previous
                                button.carousel-control-next(type='button', data-bs-target='#carouselExampleControls3', data-bs-slide='next')
                                    span.carousel-control-next-icon(aria-hidden='true')
                                    span.visually-hidden Next

                    ol.list-group.list-group-numbered.list-group-flush
                        li.list-group-item#li1 En Zacatlán se halla una fábrica de grandes relojes fundada en 1918, se llama Centenario.
                        li.list-group-item#li1 En las instalaciones del Centenario se encuentra el Museo de Relojes y Autómatas Alberto Olvera Hernández.
                        li.list-group-item#li1 La Plaza de Armas está adornada con un agigantado reloj Centenario, hecho de flores y con dos carátulas.
                        li.list-group-item#li1 Los fines de semana se presenta un show de autómatas, el cual sucede en los balcones del museo de relojería.
                        li.list-group-item#li1-2 A unas cuadras de la plaza principal de Zacatlán, se encuentra el mirador de cristal, desde el cual se puede apreciar la vista del parque de Barranca de Jilgueros.

            .container-fluid
                .card.mb-3.me-5#card4
                    h3.card-header.text-center Lugares para comer
                    .card-body
                        .container-fluid.d-flex
                            #carouselExampleControls4.carousel.slide(data-bs-ride='carousel')
                                .carousel-inner
                                    .carousel-item.active
                                        img.d-block(src='/images/turista.jpg',alt='', width='450', height='250')
                                    .carousel-item
                                        img.d-block(src='/images/cafe.jpg',alt='',width='450', height='250')
                                    .carousel-item
                                        img.d-block(src='/images/barrica.jpg',alt='',width='450', height='250')
                                    .carousel-item
                                        img.d-block(src='/images/res.jpg',alt='', width='450', height='250')
                                button.carousel-control-prev(type='button', data-bs-target='#carouselExampleControls4', data-bs-slide='prev')
                                    span.carousel-control-prev-icon(aria-hidden='true')
                                    span.visually-hidden Previous
                                button.carousel-control-next(type='button', data-bs-target='#carouselExampleControls4', data-bs-slide='next')
                                    span.carousel-control-next-icon(aria-hidden='true')
                                    span.visually-hidden Next

                    ol.list-group.list-group-numbered.list-group-flush.align-justify
                        li.list-group-item#li2 El Turista Café Bar es un buen lugar para comer y pasarla con los amigos.
                        li.list-group-item#li2 Ver la tarde pasar desde las mesas, al aire libre, en el Café Dos Aromas.
                        li.list-group-item#li2 En el restaurante Barrica y Artesa se puede pasar momentos agradables en familia, mientras se disfruta de un delicioso desayuno.
                        li.list-group-item#li2-2 Si quieres disfrutar de un delicioso desayuno mientras contemplas una bonita vista, debes visitar el restaurante El Mirador.