extends ./layout/indexLogin.pug 
block compartircontenido 
    main.container.mt-5 
        .row.justify-content-center
            .col-md-12 
                h2.d-block.w-100.text-center 
            .row.justify-content-center 
                .col-md-6.px-0
                    .card.px-5.py-4#atrac3
                        .card-title.text-center.h3.fw-bold Credenciales
                        form(action = "/credenciales" method="POST")
                            .form-group.pb-3 
                                label.pb-1(for="usuario") Usuario: 
                                input#usuario(type="test",placeholder="Tu usuario",name="usuario",class="form-control")
                            .form-group.pb-3  
                                label.pb-1(for="clave") Clave: 
                                input#clave(type="password",placeholder="Tu clave",name="clave",class="form-control")
                            .container-fluid.d-flex.justify-content-center
                                input.btn.btn-success.btn-block(type="submit",value="Iniciar Sesión")