footer.container-expand
    .container-fluid.d-flex
    p.px-3.text-center.text-dark.fw-bold Hecho por el Equipo 3.
    p.text-center.text-dark.fw-bold Código publicado bajo la licencia MIT.
            

