header 
    nav.navbar.navbar-expand-lg.navbar-dark.bg-danger
      .container-fluid.d-flex.pe-3
        #navbarColor01.collapse.navbar-collapse.col-6.d-flex.justify-content-end 
            ul.navbar-nav.me-5
              li.nav-item
                a.nav-link.active#menu(href='/adminHoteles',class=selec2) Administración
              li.nav-item
                a.nav-link.active#menu(href='/gerentes',class=selec3) Gerentes
              li.nav-item
                a.nav-link.active#menu(href='/cerrar/sesion') Cerrar sesión