header 
    nav.navbar.navbar-expand-lg.navbar-dark.bg-danger
      .container-fluid.d-flex.pe-3
        span.navbar-brand.d-flex.col-6
          a.navbar-brand(href='/login')
            img(src='/images/iniciar-sesion.png', alt='', width='50', height='50')
          a.navbar-brand.my-2.ps-1#titulo(href='/login') Login